Assignment 4 : communication of 4 components
<div class="square-box"> 
  <app-subcomp1 [childmessage]="value"></app-subcomp1>
  <app-subcomp2 [childmessage]="value"></app-subcomp2>
  <input type="text" (input)="onInput($event)" id="input-box">
  <app-subcomp3 [childmessage]="value"></app-subcomp3>
  <app-subcomp4 [childmessage]="value"></app-subcomp4>
</div>
<div>
  <br>
Assignment 3 : Dynamic textfield creation and log valueon submit in array of object
<app-dynamic-text-field></app-dynamic-text-field>
</div>
<br>
Assignment 1 : To find nth term in a series
<div>
  <app-series></app-series>
</div>
