.square-box{
    height:300px;
    width: 500px;
    border:1px solid black;
    position: relative
}
.square-box div{
    position: absolute;
}
.top{
    top:0
}
.left{
left:0
}
.right{
    right:0
}
.bottom{
    bottom:0
}
#input-box{
    margin-left: 22%;
    margin-top: 35%;
}