.square-box{
    height:300px;
    width: 500px;
    border:1px solid black
}
app-subcomp1{
    float: left;
    top: 3px
}
app-subcomp2{
    float: right;
    left: 3px
}
app-subcomp3{
    left: 3px;
    bottom: 3px!important;
    width:50%
}
app-subcomp4{
  float: right!Important;
}
#input-box{
    margin-left: 22%;
    margin-top: 35%;
}